<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>百度新闻首页</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	<header>
		<div class="container-fluid head-info">
			<div class="col-xs-1 baidu_icon logo"></div>
			<div class="col-xs-2 baidu_icon person"></div>
			<div class="col-xs-6 baidu_logo"></div>
			<div class="col-xs-2 baidu_icon search"></div>
			<div class="col-xs-1 baidu_icon add"></div>
		</div>
	</header>
	<!-- 导航栏 -->
	<nav>
		<div class="container-fluid head_nav">
			<div class="col-xs-2 nav-btn" value="recom">
				<span>推荐</span>
			</div>
			<div class="col-xs-2 nav-btn" value="baijia">
				<span>百家</span>
			</div>
			<div class="col-xs-2 nav-btn" value="local">
				<span>本地</span>
			</div>
			<div class="col-xs-2 nav-btn" value="img">
				<span>图片</span>
			</div>	
			<div class="col-xs-2 nav-btn" value="fun">
				<span>娱乐</span>
			</div>
			<div class="col-xs-2 nav-btn" value="society">
				<span>社会</span>
			</div>
		</div>
	</nav>
	<!-- 新闻部分 -->
	<article id="content">
	</article>
	<!-- 底部 -->
	</article>
	<!-- 底部 -->
	<footer>
		<div class="container-fluid footing">
			<div class="col-xs-4 first_none">
				<a href="#" class="first">意见反馈</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="second">应用推荐</a>
			</div>
			<div class="col-xs-4" class="third">
				<a href="#">客户端</a>
			</div>
		</div>
	</footer>
	
    <script type="text/javascript" src="./javascripts/index.js"></script>
</body>
</html>