<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>新闻后台管理界面</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/manage.css">
</head>

<body>
   <!--头部-->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                    <li><a href="#">新闻管理</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相关网站 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index">新闻界面</a></li>
                        </ul>
                    </li>
                </ul>
          </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧的导航栏 -->
            <div class="col-md-1">
                <ul>
                    <li style="list-style-type:none">
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                           <span>分类管理</span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
                            <li class="click-data" value="recom"><a href="#"><i></i>推荐</a></li>
                            <li class="click-data" value="baijia"><a href="#"><i></i>百家</a></li>
                            <li class="click-data" value="local"><a href="#"><i></i>本地</a></li>
                            <li class="click-data" value="img"><a href="#"><i></i>图片</a></li>
                            <li class="click-data" value="fun"><a href="#"><i></i>娱乐</a></li>
                            <li class="click-data" value="society"><a href="#"><i></i>社会</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 新闻显示界面 -->
            <div class="col-md-11">
                <h4 id="location">管理</h4>
                <input type='button' id="addBtn-face" class='float-right btn btn-info' value='添加'>
                <hr/>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-2">标题</th>
                            <th class="col-md-2">时间</th>
                            <th class="col-md-2">图片</th>
                            <th class="col-md-3">内容</th>
                            <th class="col-md-1">操作</th>
                        </tr>
                    </thead>
                    <tbody id="data">
                    </tbody>
                </table>
            </div>
        </div>
         <!--修改新闻-->
        <div id="modify">
            <p id="mdfInfo">请修改信息</p>
            <input type='text' readonly name='newsId' id="mdfId">
            <input type='text' readonly name='tableName' id="mdfTable">
            <h5>新闻的标题：</h5>
            <input type='text'  id="mdfTitle" class='full-width' name='newsTitle'>
            <h5>图片的路径：</h5>
            <input type='text'  id="mdfImg" class='full-width' name='newsImg'>
            <h5>新闻的内容：</h5>
            <textarea   id="mdfCon" class='full-width news-content'></textarea>
            <input  id="mdfTime" type='date' name='addTime'>
            <input type='submit' id="mdfUpDate" class='float-right btn btn-danger' value='保存'>
            <input type='button' id="mdfHide" class='float-right btn btn-info' value='取消'>
        </div>
        <div id="delete">
            <label id="info"></label>
            <input type='button' id="deleteBtn" class='btn btn-danger' value='确定'>
            <input type='button' id="cancelBtn" class='btn btn-info' value='取消'>
        </div>
         <!--添加-->
        <div id="add">
            <h5>新闻的标题：</h5>
            <input type='text' class='full-width' id="newsTitle">
            <h5>图片的路径：</h5>
            <input type='text' class='full-width' id="newImg">
            <h5>新闻的内容：</h5>
            <textarea class='full-width news-content' id='newsContent'></textarea>
            <input type='date'  id="addTime">
            <label id="addInfo">输入信息</label>
            <input type='button' id="addSave" class='float-right btn btn-info'value='保存'>
            <input type='button' id="addCancel" class='float-right btn btn-info' value='取消'>
        </div>
    </div>
    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/manage.js"></script>
</body>

</html>

