* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 810px;
    height:640px;
    min-height: 600px;
    font-family: bold；
    behavior: url(css/csshover.htc);
}

.header {
    height: 32px;
    text-align: right;
    position: relative;
    border: 1px solid lightgray;
    min-width: 454px;
}

.nav {
    font-size: 13px;
    margin-top: 11px;
    position: absolute;
    right: 10px;
}

.nav a {
    margin-left: 14px;
    color: #333333;
    font-weight: bold;
}

.nav a:link,
.nav a:visited {
    text-decoration: underline;
}

.nav a:active {
    color: blue;
}

.setting {
    list-style-type: none;
    position: absolute;
    z-index: 2;
    top: 23px;
    right: 65px;
    border: 1px solid lightgray;
    box-shadow: 0 0 1px #D3D3D3;
    display: none;
}

.setting li {
    text-align: center;
    padding: 5px 9px;
}

.setting li:hover {
    background-color: dodgerblue;
    cursor: pointer;
    color: white;
}

.setting:before {
    content: "";
    border: 8px solid transparent;
    position: absolute;
    border-bottom-color: lightgrey;
    left: 27px;
    top: -16px;
}

.setting:after {
    content: "";
    border: 6px solid transparent;
    position: absolute;
    border-bottom-color: white;
    left: 29px;
    top: -12px;
}

#moreBtn {
    background-color: dodgerblue;
    padding: 5px;
    margin-left: 19px;
    color: white;
    cursor: default;
}

.more {
    position: absolute;
    z-index: 2;
    width: 90px;
    height: 99%;
    list-style-type: none;
    border: 1px solid #D3D3D3;
    background-color: white;
    text-align: center;
    display: none;
    right: 0;
    top: -12px;
}

.more img {
    display: block;
    margin: 0 auto;
}

.more a:link,
.more a:visited {
    color: #666666;
    font-size: 12px;
    text-decoration: none;
}

.more a:hover {
    text-decoration: underline;
}

.Product {
    font-size: 13px;
    color: #333333;
    padding-top: 22px;
    cursor: default;
}

.line {
    margin: 10px auto;
    height: 1px;
    background-color: lightgrey;
}

.body {
    text-align: center;
}

.img {
    width: 270px;
    height: 129px;
    padding-top: 121px;
    margin-left: auto;
    margin-right: auto;
}

.space {
    padding-top: 22px;
    line-height: 16px;
    height: 16px;
    margin-bottom: 13px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
    height: 292px;
    min-width: 639px;
}

#searchbox {
    float: left;
    padding: 9px 7px;
    width: 521px;
    height: 20px;
    outline: none;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid #4791FF;
    border-right-style: none;
}

#searchbutton {
    background-color: #4791FF;
    font-size: 15px;
    color: white;
    float: left;
    border: none;
    width: 100px;
    height: 40px;
    outline: none;
}

#searchbutton:hover {
    cursor: pointer;
    background-color: #3075DC;
}

.foot a {
    color: #333333;
    word-spacing: 3px;
}

.foot {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    font-size: 12px;
    color: #333333;
    word-spacing: 3px;
    min-width: 544px;
}
